<div
  class="browser-tab-container full"
  fxLayout="flex"
  *ngIf="$browserState|async as browserModel"
  cdkDropList
  cdkDropListOrientation="horizontal"
  cdkDropListLockAxis="x"
  (cdkDropListDropped)="drop($event)"
>
  <div
    class="full-h browser-tab-item-container"
    mpWinDrag="false"
    cdkDrag
    fxFlex="100%"
    fxLayout="flex"
    *ngFor="let tab of browserModel?.tabs;let i =index"
    fxLayoutAlign="start center">
    <mp-browser-tab-item
      class="full"
      [tab]="tab"
      [active]="tab.id===browserModel?.currentTabId"
      (select)="selectTab(tab)"
      (close)="closeTab(tab)">
    </mp-browser-tab-item>
  </div>
</div>