<div
  class="browser-tab-container full-page"
  [style.backgroundColor]="browserModel.navigationBarConfig.backgroundColor"
  fxLayout="flex"
  *ngIf="$browserState|async as browserModel"
  cdkDropList
  [cdkDropListDisabled]="browserModel.tabs.length===1"
  cdkDropListOrientation="horizontal"
  cdkDropListLockAxis="x"
  (cdkDropListDropped)="drop($event)">
  <div
    mpWinDrag="false"
    cdkDrag
    class="browser-tab-item-container"
    fxFlex="1 1"
    fxLayout="flex"
    *ngFor="let tab of browserModel?.tabs;let i =index"
    fxLayoutAlign="start center">
    <mp-browser-tab-item
      class="full-page"
      [tab]="tab"
      [active]="tab.id===browserModel.currentTabId&&browserModel.tabs.length>1"
      (select)="selectTab(tab)"
      (close)="closeTab(tab)">
    </mp-browser-tab-item>
  </div>
</div>