<div class="browser-tab-container" fxLayout="flex">
  <div class="browser-tab-item"
       mpWinDrag="false"
       fxLayout="flex"
       fxLayoutAlign="start center"
       *ngFor="let tab of browserModel?.tabs;let i =index"
       (click)="selectTab(i)"
       [class.active]="browserModel?.currentTabIndex===i"
  >
    <div class="tab-icon">
      <img *ngIf="tab.icon;else emptyIcon" [src]="tab.icon" width="18" height="18">
      <ng-template #emptyIcon>
        <i class="iconfont icon-empty"></i>
      </ng-template>
    </div>
    <div class="tab-body">
      <p>{{tab.title}}</p>
    </div>
  </div>
</div>