<div class="browser-tab-item full-page"
     mpWinDrag="false"
     fxLayout="row"
     *ngIf="tab"
     (click)="selectTab()"
     (dblclick)="editTabUrl()"
     matRipple
     [class.active]="active">
  <div fxFlex="20px" fxFlexAlign="center">
    <mp-tab-icon [tab]="tab"></mp-tab-icon>
  </div>
  <div class="tab-body" fxFlex="1 1" fxFlexAlign="center">
    {{tab?.title || (tab?.url|mpUrlDecode)}}
  </div>
  <div class="tab-right-menu" fxFlexAlign="center">
    <div class="tab-menu-item" (click)="closeTab($event)">
      <i class="iconfont icon-close"></i>
    </div>
  </div>
</div>