.browser-tab-item {
  cursor: pointer;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;

  &.active {
    background-color: var(--browser-tab-active-bg);
  }
  .tab-body {
    padding-left: 5px;
    overflow-y: visible;
    overflow-x: hidden;
    font-size: 14px;
    white-space: nowrap;
    line-height: 18px;
  }

  .tab-right-menu {
    width: auto;
    align-items: center;
    justify-content: right;
    display: flex;

    .tab-menu-item {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .iconfont {
        font-size: 12px;
      }
    }
  }
}