<div class="browser-tab-item full-page"
     mpWinDrag="false"
     fxLayout="row"
     (click)="selectTab()"
     [class.active]="active">
  <div class="tab-icon" fxFlex="20px" fxFlexAlign="center">
    <img *ngIf="tab?.icon;else emptyIcon" [src]="tab?.icon">
    <ng-template #emptyIcon>
      <i class="iconfont icon-empty"></i>
    </ng-template>
  </div>
  <div class="tab-body" fxFlex="1 1" fxFlexAlign="center">
    {{tab?.title || tab?.url}}
  </div>
  <div class="tab-right-menu" fxFlexAlign="center">
    <div class="tab-menu-item" (click)="closeTab($event)">
      <i class="iconfont icon-close"></i>
    </div>
  </div>
</div>