<div *ngIf="$store|async  as browserState"
     class="browser-content">
  <div
    class="browser-inner-box"
    *ngFor="let browser of browserState.browserViews;let i = index"
    [class.show]="browser.id===browserState.currentTabId"
  >
    <mp-broswer-webview [src]="browser.url"
                        (themeChange)="themeChange(browser.id,$event)"
                        (titleChange)="titleChange(browser.id,$event)"
                        (iconChange)="iconChange(browser.id,$event)"
                        (newWindow)="createTab(browser.id,$event)"
    >
    </mp-broswer-webview>
  </div>
</div>
