@mixin miup-component-divider() {
  :root {
    --miup-divider-style: 2px solid var(--foreground-divider);
  }
  .miup-divider-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }

    .divider__line {
      flex: 1;
      height: 0;
      border-bottom: var(--miup-divider-style);
    }
  }
}
