.mp-browser-header {
  height: 36px;

  .navigation-bar-menus {
    button.navigation-bar-menu-item {
      border: none;
      background-color: transparent;
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;
      color: var(--navigationbar-color);
      outline: none;
    }
  }
}

.mp-browser-body {
  height: calc(100% - 36px);
  overflow: auto;
}


