<div class="mp-window-ctrl" [class.hide]="isFullScreen" fxLayout="row" fxLayoutAlign="center end" mpWinDrag="false">
  <div class="mp-ctrl-btn" (click)="windowMinimize()">
    <i class="iconfont icon-minimize"></i>
  </div>
  <div class="mp-ctrl-btn" (click)="toggleFullScreen()">
    <i *ngIf="!isMaxSize" class="iconfont icon-maximize"></i>
    <i *ngIf="isMaxSize" class="iconfont icon-unmaximize"></i>
  </div>
  <div class="mp-ctrl-btn close-warn">
    <i class="iconfont icon-close"></i>
  </div>
</div>