<mat-tab-group mat-align-tabs="center" animationDuration="100ms" class="web-mark-tab">
  <mat-tab class="web-mark-tab-body">
    <ng-template mat-tab-label>
      <p class="web-mark-tab-label">
        <mat-icon>star</mat-icon>
      </p>
    </ng-template>
    <mp-browser-web-mark></mp-browser-web-mark>
  </mat-tab>
  <mat-tab class="web-mark-tab-body">
    <ng-template mat-tab-label>
      <p class="web-mark-tab-label">
        <mat-icon>history</mat-icon>
      </p>
    </ng-template>
    <mp-view-history></mp-view-history>
  </mat-tab>
</mat-tab-group>
