@mixin miup-common-box() {
  .full-page {
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
  }
  .full-width {
    width: 100% !important;
  }

  .full-height {
    height: 100% !important;
  }

  .border-box {
    box-sizing: border-box;
  }
}
