.web-mark-tree {
  background-color: transparent !important;

  .mat-tree-node, .mat-nested-tree-node {
    color: var(--navigation-bar-color) !important;
  }

  ul, li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .tree-invisible {
    display: none;
  }
}