.history-container {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;


  .history-item {
    height: 50px;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    .history-icon {
      width: 25px;
    }
    .history-body {
      width: calc(100% - 25px);

      p {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .title {

      }

      .url {
        font-size: 12px;
        opacity: 0.6;
      }
    }
  }
}