.history-container {
  height: 100%;
  width: 100%;

  .history-item {
    height: 48px;
    width: 100%;
    padding: 5px;
    cursor: pointer;

    .history-icon {
      width: 25px;
    }

    .history-body {
      width: calc(100% - 25px);

      p {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .title {
      }

      .sub-title {
        font-size: 12px;
        opacity: 0.6;
        margin-top: 5px;
        
        .url {
        }

        .time {
          text-align: right;
        }
      }
    }
  }
}